<!-- entete -->
    <div class=" card p-3 position-sticky top-0 z-1">
    <div class="d-flex align-items-center justify-content-between mb-1">
      <div class="fs-4 fw-bold">
        Clientss {{list.length==les_clientss.length?list.length:list.length + "/" + les_clientss.length}}
      </div>
      <div class="d-flex">
        <button class="btn btn-primary" (click)="openModal_add_clients()"><i class="bi bi-plus-square-dotted"></i> Clients</button>
      </div>
    </div>
    <div class="d-flex gap-1 justify-content-end">
      <ng-select [multiple]="true" [closeOnSelect]="false" placeholder="Rechercher ici ..." notFoundText="Aucun résultat" class="no-limit" [(ngModel)]="filter.text" (search)="filter_change($event)" (change)="filter_change()"
        style="min-width: 400px;">
        <!-- <ng-option disabled>Zones</ng-option>
        @for (let zone of donnees_select.zone) {
          <ng-option [value]="'zone_'+zone.id_zone">
            {{ zone.nom }}
          </ng-option>
        }

        <ng-option disabled>Domaines</ng-option>
        @for (let domaine of donnees_select.domaine) {
          <ng-option [value]="'domaine_'+domaine.id_domaine">
            {{ domaine.nom }}
          </ng-option>
        }-->
      </ng-select>
    </div>
  </div>
  <!-- Liste des éléments sous forme de tableau -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id_client</th>
<th scope="col">user_id</th>
<th scope="col">preferences</th>
<th scope="col">date_creation</th><th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Affichage du message de chargement -->
        @if (loading_get_clients) {
          <tr>
            <td colspan="5" class="text-center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Chargement...</span>
              </div>
            </td>
          </tr>
        }
        <!-- Affichage du message lorsqu'il n'y a pas d'éléments -->
        @if (list.length == 0) {
          <tr>
            <td colspan="5" class="text-center">
              <div class="alert alert-info" role="alert">
                Aucune donnée trouvée.
              </div>
            </td>
          </tr>
        }
        <!-- Boucle pour afficher chaque élément de la liste -->
        @for (one_clients of list; track one_clients) {
          <tr>
            <td>{{one_clients.id_client}}</td>
<td>{{one_clients.user_id}}</td>
<td>{{one_clients.preferences}}</td>
<td>{{one_clients.date_creation}}</td><td>
    <i style="cursor: pointer;" class="bi bi-pencil-square me-2" (click)="openModal_edit_clients(one_clients)"></i>
    <i style="cursor: pointer;" class="bi bi-trash" (click)="delete_clients(one_clients)"></i>
</td>
          </tr>
        }
      </tbody>
    </table>
  </div>