<div class="modal-header" data-bs-theme="ligth">
      <h1 class="modal-title fs-5">Ajouter bien_tarifs</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reactiveForm_add_bien_tarifs" 
            (ngSubmit)="onSubmit_add_bien_tarifs()" 
            #form_add_bien_tarifs="ngForm" 
            class="row">
        <!-- Erreur : La clé étrangère bien_id de la table bien_tarifs n'est pas référencée -->
<!-- Erreur : La clé étrangère type_tarif_id de la table bien_tarifs n'est pas référencée -->

            <!-- Champ Montant -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="montant">Montant</label>
              <input id="montant" class="form-control" 
                     type="text" 
                     formControlName="montant" 
                     placeholder="Montant"  
                     [ngClass]="{ 'is-invalid': submitted && f.montant.errors }"/>
              @if (submitted && f.montant.errors) {
                <div class="invalid-feedback">
                  @if (f.montant.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Devise -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="devise">Devise</label>
              <input id="devise" class="form-control" 
                     type="text" 
                     formControlName="devise" 
                     placeholder="Devise"  
                     [ngClass]="{ 'is-invalid': submitted && f.devise.errors }"/>
              @if (submitted && f.devise.errors) {
                <div class="invalid-feedback">
                  @if (f.devise.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Date Debut -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="date_debut">Date Debut</label>
              <input id="date_debut" class="form-control" 
                     type="text" 
                     formControlName="date_debut" 
                     placeholder="Date Debut"  
                     [ngClass]="{ 'is-invalid': submitted && f.date_debut.errors }"/>
              @if (submitted && f.date_debut.errors) {
                <div class="invalid-feedback">
                  @if (f.date_debut.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Date Fin -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="date_fin">Date Fin</label>
              <input id="date_fin" class="form-control" 
                     type="text" 
                     formControlName="date_fin" 
                     placeholder="Date Fin"  
                     [ngClass]="{ 'is-invalid': submitted && f.date_fin.errors }"/>
              @if (submitted && f.date_fin.errors) {
                <div class="invalid-feedback">
                  @if (f.date_fin.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Actif -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="actif">Actif</label>
              <input id="actif" class="form-control" 
                     type="text" 
                     formControlName="actif" 
                     placeholder="Actif"  
                     [ngClass]="{ 'is-invalid': submitted && f.actif.errors }"/>
              @if (submitted && f.actif.errors) {
                <div class="invalid-feedback">
                  @if (f.actif.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_bien_tarifs || loading_get_details_add_bien_tarifs_form"
      (click)="form_add_bien_tarifs.ngSubmit.emit()">
      {{ loading_add_bien_tarifs ? "En cours ..." : "Valider" }}
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Fermer</button>
    </div>