<div class="modal-header" data-bs-theme="ligth">
      <h1 class="modal-title fs-5">Ajouter user_documents</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reactiveForm_add_user_documents" 
            (ngSubmit)="onSubmit_add_user_documents()" 
            #form_add_user_documents="ngForm" 
            class="row">
        <!-- Erreur : La clé étrangère user_id de la table user_documents n'est pas référencée -->

            <!-- Champ Document Type -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="document_type">Document Type</label>
              <input id="document_type" class="form-control" 
                     type="text" 
                     formControlName="document_type" 
                     placeholder="Document Type"  
                     [ngClass]="{ 'is-invalid': submitted && f.document_type.errors }"/>
              @if (submitted && f.document_type.errors) {
                <div class="invalid-feedback">
                  @if (f.document_type.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Url Document -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="url_document">Url Document</label>
              <input id="url_document" class="form-control" 
                     type="text" 
                     formControlName="url_document" 
                     placeholder="Url Document"  
                     [ngClass]="{ 'is-invalid': submitted && f.url_document.errors }"/>
              @if (submitted && f.url_document.errors) {
                <div class="invalid-feedback">
                  @if (f.url_document.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Statut -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="statut">Statut</label>
              <input id="statut" class="form-control" 
                     type="text" 
                     formControlName="statut" 
                     placeholder="Statut"  
                     [ngClass]="{ 'is-invalid': submitted && f.statut.errors }"/>
              @if (submitted && f.statut.errors) {
                <div class="invalid-feedback">
                  @if (f.statut.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Remarque Admin -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="remarque_admin">Remarque Admin</label>
              <input id="remarque_admin" class="form-control" 
                     type="text" 
                     formControlName="remarque_admin" 
                     placeholder="Remarque Admin"  
                     [ngClass]="{ 'is-invalid': submitted && f.remarque_admin.errors }"/>
              @if (submitted && f.remarque_admin.errors) {
                <div class="invalid-feedback">
                  @if (f.remarque_admin.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Date Upload -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="date_upload">Date Upload</label>
              <input id="date_upload" class="form-control" 
                     type="text" 
                     formControlName="date_upload" 
                     placeholder="Date Upload"  
                     [ngClass]="{ 'is-invalid': submitted && f.date_upload.errors }"/>
              @if (submitted && f.date_upload.errors) {
                <div class="invalid-feedback">
                  @if (f.date_upload.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_user_documents || loading_get_details_add_user_documents_form"
      (click)="form_add_user_documents.ngSubmit.emit()">
      {{ loading_add_user_documents ? "En cours ..." : "Valider" }}
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Fermer</button>
    </div>